$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// compass util
@import "compass/css3";

html, body {
   height: 100%;
   overflow: auto;
}

ul, ol {
   list-style: none;
   margin: 0;
   padding: 0;
}
